absl-py
altair
argon2-cffi
astor
astroid
astunparse
async-generator
attrs
backcall
base58
bleach
blinker
bokeh
cachetools
certifi
cffi
chardet
click
colorama
cycler
decorator
defusedxml
entrypoints
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
Keras==2.4.3
keras-nightly
Keras-Preprocessing
kiwisolver
lazy-object-proxy
livelossplot
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scipy
Send2Trash
six
smmap
streamlit==0.80.0
tensorboard<2.2.0
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.1.0
tensorflow-estimator<2.2.0
termcolor
terminado
testpath
toml
toolz
tornado
traitlets
typing-extensions
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
